@using SolovevProject.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Покупка</title>
</head>
<body>
<div>
    <h3>Вы подтверждаете покупку @ViewBag.Name ?</h3>
    <form method="post" action="">
        <input type="hidden" value="@ViewBag.Id" name="Id" />
        <table>
            <tr><td><input type="submit" value="Подтвердить" /> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>