@{
    Layout = null;
}


<!Doctype html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Шаурмечка</title>
    <link href="/Content/Style.css" rel="stylesheet"/>
</head>

<body>
<div class="parent">
    <div class="child">
        <h3>Меню</h3>
            <table>
                <tr>
                    <td>
                        <p>Название</p>
                    </td>
                    <td>
                        <p>Цена</p>
                    </td>
                    <td>
                        <p>Ингредиенты</p>
                    </td>
                </tr>

                @foreach (var d in ViewBag.Doners)
                {
            <tr>
                <td>
                    <p>@d.Name</p>
                </td>
                <td>
                    <p>@d.Price</p>
                </td>
                <td>
                    <p><a href="/Home/Contains/@d.Id">Узнать ингредиенты</a></p>
                </td>
                <td>
                    <p><a href="/Home/Buy/@d.Id">Купить</a></p>
                </td>
            </tr>
                }
            </table>
        </div>
</div>

</body>

</html>