body {
    margin: 0;
    padding: 0;
    background-image: url('Doner 2.png');
}

.parent {
    margin: 10%;
    background: wheat;
    padding: 1px;
    background-image: url('Doner 1.png');
    background-position-x: 400px;
    background-repeat: no-repeat;
}

.child {
    border: 3px solid #666;
    padding: 10px; 
    margin: 5px; 
}
h3 {
    text-align: center
}
td {
    padding-right: 20px
}